source https://www.nuget.org/api/v2

nuget FsCheck.Xunit
nuget FSharp.Data
nuget FSharp.Formatting
nuget R.NET.Community 1.5.16
nuget R.NET.Community.FSharp 0.1.9
nuget xunit.runners
nuget FAKE
nuget NuGet.CommandLine
nuget ILRepack 1.22.2
nuget FSharp.Core 3.0.2

github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs
github fsprojects/FSharp.TypeProviders.StarterPack src/DebugProvidedTypes.fs
