source https://www.nuget.org/api/v2

nuget FsCheck.Xunit
nuget FSharp.Data
nuget FSharp.Formatting
nuget R.NET.Community
nuget R.NET.Community.FSharp
nuget xunit.runners 1.9.2
nuget xunit 1.9.2
nuget FAKE
nuget NuGet.CommandLine

github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs

group Release
  source https://www.nuget.org/api/v2
  nuget FSharp.Core 3.0.2
