name: .NET

on:
  pull_request:
    branches: [ master ] 

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest,ubuntu-latest,windows-latest]

    steps:
    - name: set mac R_HOME
      if: matrix.os == 'macOS-latest'
      run: echo "R_HOME=/Library/Frameworks/R.framework/Resources" >> $GITHUB_ENV
    - name: set ubuntu R_HOME
      if: matrix.os == 'ubuntu-latest'
      run: echo "R_HOME=/usr/local/bin/R" >> $GITHUB_ENV
    - name: set windows R_HOME
      if: matrix.os == 'windows-latest'
      run: echo "R_HOME=C:\R" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
    - name: verify R
      run: |
        Rscript -e '1+1'
        echo "${{ env.R_HOME }}"
    - uses: actions/checkout@master
    - uses: r-lib/actions/setup-r@v1
      name: Setup R environment
      with:
          r-version: '4.1.1'
    
    - name: find home
      run: |
          R --print-home
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore tool dependencies
      run: dotnet tool restore
    - name: Restore paket dependencies
      run: dotnet paket restore
    - name: Restore dependencies
      run: dotnet restore RProvider.sln
    - name: Restore dependencies
      run: dotnet restore RProvider.Tests.sln
    - name: Build
      run: dotnet fake build -t All
